name: Release Build and Publish

on:
  push:
    branches:
      - 'releases/**'

jobs:
  build:
    name: Build, Test, Pack
    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.extract_version.outputs.version }}

    env:
      DOTNET_VERSION: '8.0.x'
      SOLUTION_PATH: './src/KamiYomu.CrawlerAgents.Core.sln'
      PROJECT_PATH: './src/KamiYomu.CrawlerAgents.Core/KamiYomu.CrawlerAgents.Core.csproj'
      NUGET_CONFIG_PATH: './src/NuGet.config'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Extract version from branch name
        id: extract_version
        run: |
          branch="${GITHUB_REF#refs/heads/}"
          version="${branch#releases/}"
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "VERSION=$version" >> $GITHUB_ENV
          echo "Version: $version"

      - name: Restore
        run: dotnet restore ${{ env.SOLUTION_PATH }} --configfile ${{ env.NUGET_CONFIG_PATH }}

      - name: Build
        run: |
            dotnet pack "${PROJECT_PATH}" \
              --configuration Release \
              --no-restore \
              -p:Version="${VERSION}" \
              -p:AssemblyVersion="${VERSION}" \
              -p:FileVersion="${VERSION}" \
              -p:InformationalVersion="${VERSION}"

      - name: Test
        run: dotnet test ${{ env.SOLUTION_PATH }} --configuration Release --no-build

      - name: Pack
        run: |
          dotnet pack ${{ env.PROJECT_PATH }} \
            --configuration Release \
            --output ./nupkg \
            /p:PackageVersion=${{ env.VERSION }}

      - name: Upload NuGet artifact
        uses: actions/upload-artifact@v4
        with:
          name: nugetPackage
          path: ./nupkg/*.nupkg


  publish:
    name: Publish to GitHub + NuGet.org
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download nuget package artifact
        uses: actions/download-artifact@v4
        with:
          name: nugetPackage
          path: ./nugetPackage

      - name: Prep GitHub Package source
        run: |
          dotnet nuget add source \
            https://nuget.pkg.github.com/KamiYomu/index.json \
            --name github \
            --username "github" \
            --password "${{ secrets.GH_KAMIYOMU_GITHUB_PACKAGE_PUBLISHER }}" \
            --store-password-in-clear-text


      - name: Push package to GitHub Packages
        run: |
          dotnet nuget push "./nugetPackage/**/*.nupkg" \
            --api-key "${{ secrets.GH_KAMIYOMU_GITHUB_PACKAGE_PUBLISHER }}" \
            --source github \
            --skip-duplicate

      - name: Push package to NuGet.org
        run: |
          dotnet nuget push "./nugetPackage/**/*.nupkg" \
            --api-key "${{ secrets.GH_KAMIYOMU_NUGETORG_PACKAGE_PUBLISHER }}" \
            --source "https://api.nuget.org/v3/index.json" \
            --skip-duplicate
